.film-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	padding: 45px 0;
	width: 100%;
	box-sizing: border-box;
}

.film-list>* {
	width: 100%;
	min-width: 0;
	box-sizing: border-box;
}